<app-homepage></app-homepage>
<div class="container">
  <div class="image">
    <img height="500px" mat-card-sm-image src="assets/img_15.png" width="1000px">
  </div>
  <div class="content">
    <h1 class="highlighted">FITNESS</h1>&nbsp;&nbsp;&nbsp;
    <h1></h1>&nbsp;&nbsp;&nbsp;
    <h1 class="highlighted">CLUB</h1>
    <p class="tagline">Sweat Now, Selfies Later!</p>
    <p>No Pain, No Champagne!</p>
    <p>Exercise? I Thought You Said Extra Fries!</p>
    <p>Get Fit or Go Home. Well, You're Already Here!</p>
    <p>Work Hard, Snack Harder!</p>
  </div>
</div>

