.container {
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  line-height: 78px;
  color: #171A1FFF;
}

.register-card {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px; /* Add some space between the cards */
  margin-bottom: 5%;
}

.trainer-card, .student-card {
  display: flex;
  flex-direction: row;
}

.example-card {
  width: 400px;
  background-color: #d6e9f1; /* Set the background color of the card */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
}

.image img {
  height: 235px;
  width: 400px;
}

.mat-card-title,
.mat-card-subtitle {
  text-align: center;
  margin-bottom: 10px;
}

.example-card mat-card-title {
  font-size: 35px;
  margin-bottom: 10px;
}

.example-card button {
  margin-left: 10px;
  margin-bottom: 20px;
}

.content button {
  background-color: white;
  color: black;
}

