<app-homepage></app-homepage>
<div class="container">
  <div class="content">
    <div class="student-image">
      <img alt="student-image" src="../../../assets/images/sign-in.jpg">
    </div>
    <div class="inside-content">
      <div class="header">
        <h3>Sign In</h3>
        <h5>welcome back</h5>
      </div>
      <div class="login-form">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <mat-form-field>
            <mat-icon class="my-icon" matPrefix>perm_identity</mat-icon>
            <mat-label>Enter Username</mat-label>
            <input formControlName="username" matInput name="username" type="text">
                    <div *ngIf="username.touched && username.invalid">
                      <div *ngIf="username.errors?.required "> user name is required...</div>
                    </div>
          </mat-form-field>


          <mat-form-field>
            <mat-icon class="my-icon" matPrefix>lock</mat-icon>
            <mat-label>Enter Password</mat-label>
            <input formControlName="password" matInput
                   name="password"
                   type="password">
                    <div *ngIf="password.touched && password.invalid">
                      <div *ngIf="password.errors?.required "> password is required...</div>
                    </div>
          </mat-form-field>

          <mat-radio-group [(ngModel)]="selectedUserType" [ngModelOptions]="{standalone: true}"
                           aria-label="Type of User">
            <mat-radio-button value="trainee">Trainee</mat-radio-button>
            <mat-radio-button value="trainer">Trainer</mat-radio-button>
          </mat-radio-group>


          <button [disabled]="loginForm.invalid" color="primary" mat-raised-button type="submit">SignIn</button>
        </form>
      </div>
    </div>
  </div>


</div>

