<div class="container">
  <div class="toolbar">
    <mat-toolbar>
      <button class="example-icon" mat-icon-button>
        <mat-icon>fitness_center</mat-icon>
      </button>
      <span>GYM-PORTAL</span>
      <span class="spacer"></span>
      <button class="example-icon" mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <span>{{userNameFromState}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
  <div class="content">
    <div class="header">
      <h3>Change Password</h3>
    </div>
    <div class="update-form">
      <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
        <mat-form-field>
          <mat-icon class="my-icon" matPrefix>lock</mat-icon>
          <mat-label>Old Password</mat-label>
          <input [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword" matInput
                 matInput name="oldPassword"
                 placeholder="Password"
                 type="password">
          <button (click)="toggleOldPasswordVisibility($event)" mat-icon-button matSuffix>
            <mat-icon>{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <div *ngIf="oldPassword.touched && oldPassword.invalid">
            <div *ngIf="oldPassword.errors?.required "> password is required...</div>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-icon class="my-icon" matPrefix>lock</mat-icon>
          <mat-label>New Password</mat-label>
          <input formControlName="newPassword" matInput
                 name="newPassword"
                 type="password">
          <div *ngIf="newPassword.touched && newPassword.invalid">
            <div *ngIf="newPassword.errors?.required "> password is required...</div>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-icon class="my-icon" matPrefix>lock</mat-icon>
          <mat-label>Confirm Password</mat-label>

          <input [type]="hideNewPassword ? 'password' : 'text'" formControlName="confirmPassword"
                 matInput name="confirmPassword"
                 placeholder="Password"
                 type="password">
          <button (click)="toggleNewPasswordVisibility($event)" mat-icon-button matSuffix>
            <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
            <div *ngIf="confirmPassword.errors?.required "> password is required...</div>
            <div *ngIf="confirmPassword.value != newPassword.value "> password's must match</div>
          </div>
        </mat-form-field>
        <button [disabled]="changePasswordForm.get('newPassword').value !== changePasswordForm.get('confirmPassword').value" color="primary" mat-raised-button type="submit">Update
        </button>
      </form>
    </div>
  </div>

</div>


