<mat-toolbar class="toolbarNav">
  <div class="f1r1">
    <span><p>&#169; 2023 Learn, Inc. <b class="dot">.</b> Privacy <b class="dot">.</b> Terms</p></span>
  </div>
  <div class="f1r2">
    <button mat-button>About Us</button>&nbsp;&nbsp;&nbsp;
    <button mat-button>Contact Us</button>&nbsp;&nbsp;&nbsp;
    <button mat-button>Privacy</button>
  </div>
  <div class="f1r3">
    <img alt="logo" height="30" src='../../../assets/icons/facebook.svg' style="margin-right: 25px" weight="30"/>
    <img alt="logo" height="30" src='../../../assets/icons/instagram.svg' style="margin-right: 25px" weight="30"/>
    <img alt="logo" height="30" src='../../../assets/icons/youtube.svg' style="margin-right: 5px" weight="30"/>
  </div>
</mat-toolbar>
