<div class="container">
  <div class="toolbar">
    <mat-toolbar>
      <button class="example-icon" mat-icon-button>
        <mat-icon>fitness_center</mat-icon>
      </button>
      <span>GYM-PORTAL</span>
      <span class="spacer"></span>
      <button (click)="backToProfile()" class="example-icon" mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <span>{{traineeProfile.userName}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="loading">
    <!-- Add your loading spinner or indicator here -->
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <div *ngIf="!loading">
    <div class="header">
      <h3>Update Trainers List </h3>
    </div>

    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [aria-label]="checkboxLabel()"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                        (click)="$event.stopPropagation()"
                        [aria-label]="checkboxLabel(row)"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="username">
        <th *matHeaderCellDef mat-header-cell> Username</th>
        <td *matCellDef="let element" mat-cell> {{element.userName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let element" mat-cell> {{element.firstName + " " + element.lastName}} </td>
      </ng-container>


      <!-- Weight Column -->
      <ng-container matColumnDef="specialization">
        <th *matHeaderCellDef mat-header-cell> Specialization</th>
        <td *matCellDef="let element" mat-cell> {{element.specialization}} </td>
      </ng-container>


      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr (click)="selection.toggle(row)" *matRowDef="let row; columns: displayedColumns;"
          mat-row>
      </tr>
    </table>


    <div class="button-container">
      <button (click)="saveSelectedItems()" mat-raised-button>Update</button>
    </div>
  </div>
</div>
